body {
    background-color: #B7E3CC;
    /* background-size: cover; */
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.container {
    background-color: #83B692;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    padding: 100px;
    width: 700px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #F1D302;
    font-size: 4rem;
}

#message-el {
    font-size: 2rem;
    font-style: italic;
}

p {
    font-size: 1.7rem;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
}


#start-btn {
    width: 250px;
    color: #83B692;
    background-color: #F1D302;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    transition: 0.1s;
    margin-bottom: 10px;
    border-radius: 8px;

}

#start-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    transform: translateY(-2px);
    cursor: pointer;
}

#new-card-btn {
    width: 250px;
    color: #83B692;
    background-color: #F1D302;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    transition: 0.1s;
    border-radius: 8px;
}

#new-card-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    transform: translateY(-2px);
    cursor: pointer;
}